body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:visited {
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #b56161;
    padding: 0 50px 0 50px;
    color: #F9FAF8;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.sign-up {
    background-color: #b56161;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 20px 0 70px 0;
}
.sign-up img {
    border-radius: 10px;
}

.sign-up-text{
    color: #E5E7EB;
    width: 450px;
}

.sign-up-text h2{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.sign-up-text button{
    background-color: #ff9b9b;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 8px;
}

.info {
    margin-bottom: 100px;
}

.info h2{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}
.info .info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-align: center;
}

.info .info-cards img {
    border-radius: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
    background-color: #E5E7EB;
}

.quote .quote-text {
    font-size: 36px;
    width: 900px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
}

.quote .quote-person {
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
}

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

.ad .box {
    background-color: #ff9b9b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    gap: 20%;
    padding: 20px 100px 20px 100px;
    margin: 50px 0 50px 0;
    border-radius: 8px;
    color: #F9FAF8;
}

.ad p {
    color: #E5E7EB;
}

.ad button {
    background-color: #ff9b9b;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: 1;
    border-color: white;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b56161;
    color: #F9FAF8;
    padding: 10px 0 10px 0;
}